*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-image: linear-gradient(to bottom right, red, yellow);
}
.container{
    margin: 0 auto;
    width: 1170px;
    overflow: hidden;
}
ul{
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
ul li{
        display: inline;    
}
ul li a {
   
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    word-spacing: 0px;
    text-transform: uppercase;
    border-right: 3px solid;
    padding: 4px;
    margin-right: 3px;
}